* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.plot {  
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem repeat(8);
    width: 32rem;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "search"
      "filter"
      "main"
      "main"
      "main"
      "pagination"
      "footer";
}
  
.header { 
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #0A1828;
    color: #BFA181;

}

/*Barra de Busqueda*/

.search {
    grid-area: search;
    background-color: rgb(59, 151, 231);
    display: flex;
    justify-content: center;
}

.navbar {
    width: 768px;
    justify-content: center;
    align-items: center;
}

.d-flex {
    width: 480px;
    padding-left: 0.5rem;
}

.logo {
    display: flex;
}


.titulo {
    font-size:3rem;
    padding-top: 0.5rem;
}

.fa-solid {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

/*Iconos activables de footer*/

.fa-solid:hover {
    transform: scale(2x);
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.5);
}

.facebook:hover {
    color: #3a506b;
}

.instagram:hover {
    color: #e11d74;
}

/* Menú Hamburguesa */

.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #3a506b;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding-top: 1rem;
    right: 1rem;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: #3a506b;
    min-height: 48px;
  }
  
  .respmenu nav {
    display: none;
    padding-top: 0.5rem;
    padding-right: 5rem;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }


/* filtro */

.filter {
    grid-area: filter;
    background-color: #3a506b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.p-filter {
    color: azure;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.custom-select {
    width: 350px;
    text-align: center;
}



/* Grilla Autos*/

.main { 
    grid-area: main;
    background-color:aliceblue;
    justify-content: center;
    align-items: center;
}


.opciones {
    width: 36rem;
    height: fit-content;
}

.card {
    margin: 1rem;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-personal {
    background-color: blue;
    color: white;
    font-weight:500;
    padding: 10px;
    border-radius: 5px;
    
}
  
.pagination { 
    grid-area: pagination;
    height: 100%;
    background-color:aliceblue ;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 0.5rem;
}
  
.footer { 
    grid-area: footer;
    height: 8rem;
    background-color: #3a506b;
    padding-top: 1.5rem;
}

.foot {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-brands {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.pfooter {
    color: aliceblue;
    padding-bottom: 1rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.btn-personal {
    transition: background-color 0.3s ease-out
}

.btn-personal:hover {
    background-color: blueviolet;
}

.mb-1 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.mb-2 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.mb-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (width > 768px) {
        
    .plot {  
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 0px 0px;
            grid-template-areas:
              "header search search search"
              "header filter filter filter"
              "header main main main"
              "header main main main"
              "footer pagination pagination pagination";
          }
    
          .header { 
            grid-area: header;
            width: 18rem;
            height: 47rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            background-color: #0A1828;
            color: #BFA181;
        
        }
        
        .titulo {
            font-size:2rem;
            padding-top: 1.2rem;
            padding-left: 1rem;
        }
        
        .fa-solid {
            padding-top: 1rem;
            padding-right: 0.5rem;
        }
        
        .search {
            justify-content: center;
            align-items: center;
        }

        .d-flex {
            width: 750px;
        }

        .filter {
            grid-area: filter;
            background-color: #3a506b;
            width: 90rem;
            height: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }

        .p-filter {
            padding-top: 1rem;
            padding-right: 2rem;
        }

        .custom-select {
            width: 50rem;
        }
        
        .main { 
            grid-area: main;
            overflow: scroll;
            width: 90rem;
            height: 39rem;
            justify-content: center;
            align-items: center;
            background-color:aliceblue;
            justify-content: center;
            align-items: center;
        }
        .catalogo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            width: 28rem;
            padding-bottom: 3rem;
            margin-top: 1rem;
            background-color: whitesmoke;
        }

        .card-img-top {
            width: 19rem;
        }

        .card-body {
            font: 0.8em sans-serif;
            width: 28rem;
            background-color: WHITE;
        }

        .card-text {
            background-color: white;
            width: 27rem;
        }
        .opciones {
            width: 64rem;
            height: fit-content;
        }

        
        .contenedor {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .btn-personal {
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            
        }

          
        .pagination { 
            grid-area: pagination;
            width: 90rem;
            background-color:rgb(59, 151, 231) ;
            justify-content: center;
            align-content: center;

        }
          
        .footer { 
            grid-area: footer;
            height: 10rem;
            background-color: #3a506b;
            padding-top: 1.5rem;
        }
        
        .foot {
            display: flex;
            flex-direction: column;
            padding-top: 1.2rem;
        }
        
        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
        
        .fa-brands {
            padding-right: 1rem;
            padding-bottom: 1rem;
        }
        
        .pfooter {
            color: aliceblue;
            padding-bottom: 1rem;
            text-align: center;
            justify-content: center;
            justify-items: center;
        }

        /* CSS menu hurger*/

        .respmenu a {
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            border-bottom: 2px solid #6fffe9;
            background: #0A1828;
            font-variant: small-caps;
            text-shadow: 1px 1px black;
          }
        
          .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
            position: absolute;
            box-sizing: border-box;
            margin: 0;
            padding-top: 1rem;
            right: 1rem;
            top: 0;
            width: 48px;
            height: 48px;
          }
          
          .respmenu .fa-bars, .respmenu .fa-times {
            font-size: 1px;
            pointer-events: none;
          }
          
          .respmenu input[type="checkbox"] {
            opacity: 0;
          }
          
          .respmenu {
            color: white;
            position: relative;
            background: #0A1828;
            min-height: 48px;
          }
          
          .respmenu nav {
            display: flex;
            padding-top: 3rem;
          }
          
          .respmenu input:checked ~ nav {
            display: block;
          }
          
          .respmenu input:checked ~ .fa-bars {
            display: none;
          }
          
          .respmenu input:not(:checked) ~ .fa-times {
            display: none;
          }

          .mb-1 {
            padding-left: 10rem;
            padding-right: 10rem;
            padding-top: 5rem;
          }

          .mb-2 {
            padding-left: 10rem;
            padding-right: 10rem;
            padding-top: 1rem;
          }

          .mb-3 {
            padding-left: 23rem;
            padding-right: 23rem;
            padding-top: 1rem;
          }

          .contenedor-contacto {
            display: flex;
            padding-right: 13rem;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }


}

/* p-ofertas pagina ofertas*/

.p-oferta {
    margin-top: 1rem;
    font-size: 50px;
    color: #6fffe9;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

.btn-compra {
    background-color: #e11d74;
    color: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    animation: vibrate-1 0.4s linear infinite both;
}

@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

  .btn-compra:hover {
    background-color: aqua;
    color: black;
    animation: rotate-scale-up-hor 0.65s linear both;
  }

  @keyframes rotate-scale-up-hor {
    0% {
      transform: scale(1) rotateX(0);
    }
    50% {
      transform: scale(2) rotateX(-180deg);
    }
    100% {
      transform: scale(1) rotateX(-360deg);
    }
  }

.card-img-top:hover {
    filter: saturate(200%);
}

.f-contacto {
    padding: 1rem;
}

.btn-enviar {
    background-color: #6fffe9;
    color: rgb(0, 0, 0);
    padding: 0.5rem 2rem;
    border-color: #0da58e;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 13rem;
}

.btn-enviar:hover {
    background-color: #456789;
    color: azure;
    font-weight: 700;
    animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

.evaluacion {
    display: flex;
}

.form-range{
    margin-top: 1.2rem;
}

.fa-face-smile {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  .fa-face-sad-cry {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }